*{
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid #F9FAFB; */
}

header{

    /* height: 50%; */
    background-color: #1F2937;
    padding-bottom:40px ;
    /* margin-bottom: 2rem; */


}

.header{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-content: space-around; */
    gap:5rem;
    height: 60%;
    color:#F9FAFB;
    margin-bottom: 4rem;


}

.header-image{
    width: 50%;
}
.header-image img{

    object-fit: scale-down;
    /* width: minmax(100px,200px); */
    max-width: 75%;
    /* height: 66%; */
    display: block;
   float: right;
   /* position: relative; */

}

.header-text button{
    margin-top: 3rem;
    font-size: 1rem;
    padding: 0.4rem 1.7rem;
    background-color:#3B82F6;
    color: #F9FAFB;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    border-color: #3B82F6;


}
.header-logo{
    font-size: 1.9rem;
    font-weight: bold;

}

h1{
    font-weight: bold;
    font-size: 4rem;
}

.header-logo, .navbar{
    width: 50%;
}

.navbar a{
    margin-left: 1.5rem;
    color:#F9FAFB;
    font-size: 1.4rem;
}
.navbar{
    text-align: right;
    
}
header nav,.header-title{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin: 2rem 15%;
    column-gap: 2rem;
}


.header-text{

   width: 50%;

}

.header-text > p{

    font-size: 1.8rem;

}

.main-info{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.main-info h2{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}
.main-info img{

    width: 25%;
    height: auto;

}