* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid black; */
}

header {

    /* height: 50%; */
    background-color: #1F2937;
    padding-bottom: 40px;
    /* margin-bottom: 2rem; */


}

.header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-content: space-around; */
    gap: 5rem;
    height: 60%;
    color: #F9FAFB;
    margin-bottom: 4rem;


}

.header-image {
    width: 50%;
}

.header-image img {

    object-fit: scale-down;
    /* width: minmax(100px,200px); */
    max-width: 75%;
    /* height: 66%; */
    display: block;
    float: right;
    /* position: relative; */

}

.header-text button {
    margin-top: 3rem;
    font-size: 1rem;
    padding: 0.4rem 1.7rem;
    background-color: #3B82F6;
    color: #F9FAFB;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    border-color: #3B82F6;


}

.header-logo {
    font-size: 24px;
    font-weight: bold;

}

h1 {
    font-weight: extra-bold;
    font-size: 48px;
}

.header-logo,
.navbar {
    width: 50%;
}

.navbar a {
    margin-left: 1.5rem;
    color: #F9FAFB;
    font-size: 1.4rem;
    text-decoration: none;
}

.navbar {
    text-align: right;
    display: flex;
    flex-wrap: wrap;

}

header nav,
.header-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 15%;
    column-gap: 2rem;
}


.header-text {

    width: 50%;

}

.header-text>p {

    font-size: 1.8rem;

}

.main-info {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 8rem;
}

.main-info h2 {
    font-size: 36px;
    font-weight: extra-bold;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #1F2937;
}

.main-info div {

    /* width: 25%; */
    /* display: block; */

    width: 200px;
    height: auto;
    margin-bottom: 3rem;

}

.main-info img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 15px;
    border: 0.3rem solid #3B82F6;

}

.main-info p {
    word-wrap: break-word;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 18px;

}

.main-quote {
    background-color: #E5E7EB;
    height: 30%;
}

.main-quote figure{
    width: 66%;
    margin: auto;
    padding: 10rem 2rem;

}
.main-quote blockquote {
    word-wrap: break-word;
    font: 36px lighter italic;
    text-align: center;
    

}
figcaption{
    /* display: block; */
    text-align: right;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 24px;
}

.main-sign div {
    background-color: #3B82F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 4rem auto;
    width: 66vw;
    height: auto;
    border-radius: 10px;
    

}

.main-sign{
    padding: 3rem 0;
}
.main-sign button {
    text-align: center;
    /* margin: auto; */
    padding: 0.5rem 2rem;
    border-radius: 8px;
    border: 2px solid #F9FAFB;
    background-color: transparent;
    color: #F9FAFB;
    display: inline;
    font-size: 18px;
    font-weight: bold;


}

.button-wrap {
    /* padding-right: 1rem; */
    max-width: 33%;
    padding-right: 9rem;
    display: flex;
    flex-direction: row-reverse;




}

.main-sign p {
    /* margin: auto; */
    min-width: 66%;
    padding-left: 9rem;
    color: #F9FAFB;
    /* align-self: center; */

}

.main-sign span {
    font-size: 22px;
    font-weight: bolder;
    color: #F9FAFB;
    line-height: 2rem;
}

footer{
    background-color: #1F2937;
    text-align: center;
    color: #F9FAFB;
    padding: 3rem 0;

}